:root {
    --h1-display-font-size: 40px;
    --h1-display-line-height: 32px;
    --h2-font-size: 30px;
    --p-info-font-size: 19px;
    --badge-font-size: 12px;
    --menu-font-size: 16px;
    --h3-font-size: 36px;
    --s5-h1-font-size: 60px;
    --s5-h1-line-height: 53px;
    --porpuse-font-size: 36px;
    --p-path-font-size: 16px;
    --h3-path-font-size: 34px;
    --button-font-size: 18px;

    --badge-dark-bottom: 10px;

    --violet: #7C3AED;
    --violet-hover: #9e77e0;
    --main: #ECEDF5;
    --badge-dark: #404245;
    --badge-green: #71B278;
    --badge-blue: #8389B1;
    --badge-pink: #CD91C6;
    --badge-orange: #DAA789;
    --p-info-color: #828282;
    --footer-gray: #D9D9D9;
    --light-gray: #969696;
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

.flex {
    display: flex;
}

.jcc {
    justify-content: center;
}

.jce {
    justify-content: end;
}

.jcs {
    justify-content: start;
}

.jcsb {
    justify-content: space-between;
}

.aic {
    align-items: center;
}

.ais {
    align-items: start;
}

.aie {
    align-items: end;
}

.fdirr {
    flex-direction: row;
}

.fdirc {
    flex-direction: column;
}

.tcenter {
    text-align: center;
}

.tstart {
    text-align: start !important;
}

.container {
    background-color: var(--main);
}

.font-inter {
    font-family: 'Inter';
}

.font-poppins {
    font-family: 'Poppins';
}

.btn {
    padding: 14px 48px;
    border-radius: 30px;
    font-size: var(--button-font-size);
    cursor: pointer;
    border: none;
    font-weight: 500;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 100%;
}

.ul-desktop {
    display: none;
}

.ul-mobile {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.menu-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    visibility: hidden;
}

.show-modal {
    visibility: visible;
}

li {
    list-style: none;
    font-size: var(--menu-font-size);
    display: inline;
    padding: 0 10px;
    font-size: 2rem;
}

li a {
    text-decoration: none;
    color: #000;
}

.btn-hamburger {
    padding: 10px;
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    display: block;
}

.btn-close {
    display: inherit;
    position: absolute;
    background-color: transparent;
    right: 30px;
    top: 10px;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 2rem;
}

.h3-sub {
    font-size: var(--h3-font-size);
    font-weight: 800;
}

.h1-display {
    text-align: center;
    font-size: var(--h1-display-font-size);
    line-height: var(--h1-display-line-height);
    font-weight: 800;
}

.s1-title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 180px;
}

.p-info {
    max-width: 780px;
    text-align: center;
    font-size: var(--p-info-font-size);
    font-weight: 500;
    color: var(--p-info-color);
}

.p-sub {
    font-size: 12px;
    color: var(--p-info-color);
}

.p-s1-info {
    margin-top: 54px;
}

.s1-button {
    margin-top: 65px;
}


.s1-btn-info {
    background-color: var(--violet);
    color: #fff;
    transition: all ease 0.2s;
    margin-bottom: 20px;
}

.s1-btn-info:hover {
    background-color: var(--violet-hover);
}

.s1-image {
    margin-top: 80px;
    overflow: hidden;
}

.badge {
    font-size: var(--badge-font-size);
    font-weight: 700;
    padding: 6px 22px;
    border-radius: 40px;
}

.badge-dark {
    background-color: var(--badge-dark);
    color: #fff;
}

.badge-green {
    color: #fff;
    background-color: var(--badge-green);
    font-weight: 600;
}

.badge-blue {
    color: #fff;
    background-color: var(--badge-blue);
    font-weight: 600;
}

.badge-pink {
    color: #fff;
    background-color: var(--badge-pink);
    font-weight: 600;
}

.badge-orange {
    color: #fff;
    background-color: var(--badge-orange);
    font-weight: 600;
}

.s1-img {
    width: 80vw;
}

.s2-badge {
    margin-bottom: var(--badge-dark-bottom);
}

.s2-texto {
    margin-top: 20px;
}

.h2-sub {
    font-size: var(--h2-font-size);
    font-weight: 800;
    text-align: center;
}

.p-s2-info {
    margin-top: 30px;
}

.s2-grid-iphone {
    margin-top: 100px;
    display: grid;
    grid-template-areas: 'phone';
    grid-template-columns: 1fr;
    position: relative;
}

.s2-grid-item-1 {
    grid-area: gray;
    position: relative;
    display: none;
}

.s2-grid-item-2 {
    grid-area: phone;
}

.s2-grid-item-3 {
    grid-area: green;
    display: none;
}

.s2-iphone {
    position: relative;
}

.s2-iphone-inner {
    position: absolute;
    top: 0;
    margin: 50px;
}

.p-s2-percent {
    font-size: 30px;
    text-align: center;
    font-weight: 200;
}

.p-s2-percent .span-s2-percent {
    font-size: 12px;
}

.s2-p-info-iphone {
    margin-top: 180px;
}

.h3-porpuse {
    color: var(--p-info-color);
    font-size: 36px;
    margin: 30px;
    text-align: center;
}

.s2-slider {
    position: relative;
    margin: 30px 20px;
}

.s2-img-slider {
    position: absolute;
    left: 0;
}

.s2-button-start {
    background-color: var(--violet);
    color: #fff;
}

[class*="s2-grid-item-"] {
    position: relative;
}

.s2-bars-container {
    position: absolute;
    gap: 15px;
    bottom: 180px;
    max-width: 385px;
}

.s2-blue-bar-container {
    margin-top: 40px;
    width: 230px;
    margin-bottom: 40px;
    gap: 15px;
}

.s2-alpha-container {
    position: absolute;
    width: 100%;
    pointer-events: none;
    display: none;
}

.s2-bars-gray {
    position: absolute;
    right: 40px;
}

.bar-gray {
    width: 65px;
    background-color: #A7A7A7;
    flex: 1 0 65px;
}

.bar-blue {
    width: 65px;
    background-color: #8197B0;
    flex: 1 0 65px;
}

.section-3 {
    margin-top: 200px;
}

.s3-grid-container {
    display: grid;
    grid-template-areas: 'text1'
        'image1'
        'text2'
        'image2'
        'text3'
        'image3'
        'text4'
        'image4';
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.s3-grid-item1-text,
.s3-grid-item2-text,
.s3-grid-item3-text,
.s3-grid-item4-text {
    padding: 10px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.s3-grid-item1-text {
    grid-area: text1;
}

.s3-grid-item1-image {
    grid-area: image1;
    position: relative;
    overflow: hidden;
}

.s3-window-1 {
    position: absolute;
    left: 202px;
}

.s3-alpha-mini {
    position: absolute;

}

.s3-block {
    position: absolute;
    left: 0;
    bottom: 0px;
    height: 100px;
    width: 100%;
    z-index: 400;
    background-color: var(--main);
}

.s3-grid-item2-text {
    grid-area: text2;
}

.s3-grid-item2-image {
    grid-area: image2;
}

.s3-grid-item3-text {
    grid-area: text3;
}

.s3-grid-item3-image {
    grid-area: image3;
}

.s3-grid-item4-text {
    grid-area: text4;
}

.s3-grid-item4-image {
    grid-area: image4;
}

.s3-h3 {
    margin-top: 15px;
}

.s3-text-grid {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 80vw;
}

.s3-link {
    font-size: 19.2px;
    text-decoration: none;
    font-weight: bold;
    color: #000;
    transition: all ease 0.2s;
}

.s3-link:hover {
    color: #333;
}

.s3-img {
    width: 80vw;
}

.section-4 {
    position: relative;
    display: none;
    background-color: #fff;
}

.s4-wrap {
    position: relative;
}

.s4-cards-wrap {
    position: absolute;
    height: 100%;
}

[class*="s4-wrap-text"] {
    position: absolute;
}

.s4-h3-title {
    color: var(--violet);
    font-size: 34px;
    font-weight: 800;
    width: 350px;
    line-height: 36px;
}

.p-grid-text {
    color: var(--p-info-color);
    font-size: 16px;
    font-weight: 500;
}

.s4-wrap-text-1 {
    left: 1000px;
    top: 220px;
}

.s4-wrap-text-2 {
    left: 550px;
    top: 610px;
}

.s4-wrap-text-3 {
    left: 1000px;
    top: 960px;
}

.s4-wrap-text-4 {
    left: 550px;
    top: 1400px;
}

.s4-wrap-text-3 {
    grid-area: text-3;
}

.s4-wrap-text-4 {
    grid-area: text-4;
}

.s4-circle {
    width: fit-content;
    height: fit-content;
}

.s4-gradient-alpha-down {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 320;
}

.s4-gradient-alpha-up {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 330;
}

.s4-img-path {
    width: 90%;
}

.s4-guide-1 {
    width: fit-content;
    transform-origin: center bottom;
}

.s4-guide-2 {
    width: fit-content;
    transform-origin: center bottom;
}

.s4-guide-3 {
    width: fit-content;
    transform-origin: left;
}

.s4-guide-4 {
    width: fit-content;
    transform-origin: top;
}

.s4-circle-wrap {
    height: max-content;
    width: 130px;
    position: absolute;
}

.section-5 {
    height: 300vh;
    gap: 50px;
    background-color: #fff;
    position: relative;
}

.s5-sticky {
    overflow: hidden;
    position: sticky;
    top: 0;
    width: 100%;
    height: 100vh;
}

.s5-rings-wrap {
    position: absolute;
    pointer-events: none;
}

.s5-rings {
    position: absolute;
}

.s5-h1 {
    font-size: var(--s5-h1-font-size);
    color: var(--violet);
    font-weight: 900;
    text-align: center;
    line-height: var(--s5-h1-line-height);
    margin-bottom: 45px;
    z-index: 150;
}

.s5-p-info {
    margin-bottom: 35px;
}

.s5-img-alpha-down {
    z-index: 100;
    position: absolute;
    top: 0;
    pointer-events: none;
}

.s5-img-alpha-up {
    z-index: 100;
    position: absolute;
    bottom: 0;
    z-index: 120;
    pointer-events: none;
}

.s5-btn-send {
    background-color: var(--violet);
    border-radius: 50%;
    padding: 10px;
    border: none;
    cursor: pointer;
    z-index: 210;
    transition: all ease 0.2s;
}

.s5-btn-send:hover {
    background-color: var(--violet-hover);
}

.s5-input-container {
    gap: 10px;
    margin-bottom: 48px;
}

.s5-input-container input {
    padding: 10px 10px;
    width: 300px;
    border-radius: 50px;
    border: solid #333 1px;
    font-weight: 600;
    z-index: 200;
}

.s5-h3 {
    font-size: var(--h3-font-size);
    font-weight: 800;
    color: var(--light-gray);
    text-align: center;
    z-index: 160;
}

footer {
    margin-top: 200px;
}

.section-6 {
    background-color: var(--footer-gray);
    height: 600px;
    margin-top: 70px;
    position: relative;
}

.footer-img {
    position: absolute;
}

@media (min-width: 640px) {

    :root {
        --h1-display-font-size: 60px;
        --h1-display-line-height: 44px;
        --h2-font-size: 45px;
        --badge-dark-bottom: 20px;
        --s5-h1-font-size: 128px;
        --s5-h1-line-height: 100px;
    }

    .container {
        display: flex;
        justify-content: center;
    }

    .wrap-container {
        width: 1320px;
        max-width: 1320px;
    }

    .ul-mobile {
        flex-direction: row;
    }

    .ul-desktop {
        display: inherit;
    }

    li {
        list-style: none;
        font-size: var(--menu-font-size);
        display: inline;
        padding: 0 10px;
    }

    .btn-hamburger {
        display: none;
    }

    .menu-container {
        position: relative;
        height: auto;
        width: auto;
    }

    .btn-close {
        display: none;
    }

    .h1-display {
        font-size: var(--h1-display-font-size);
    }

    .s3-img {
        width: 50vw;
    }
}

@media (min-width: 1024px) {

    :root {
        --h1-display-font-size: 85px;
        --h1-display-line-height: 66px;
        --h2-font-size: 64px;
    }
}

@media (min-width: 1280px) {

    .s2-grid-iphone {
        margin-top: 100px;
        display: grid;
        grid-template-areas: 'gray phone green';
        grid-template-columns: 2fr 1fr 2fr;
        position: relative;
    }

    .s2-grid-item-1 {
        display: inherit;
    }

    .s2-grid-item-3 {
        display: inherit;
    }

    .s2-alpha-container {
        display: flex;
    }

    .s3-img {
        width: inherit;
    }

    .s3-grid-container {
        display: grid;
        grid-template-areas: 'text1 image1'
            'image2 text2'
            'text3 image3'
            'image4 text4';
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }

    .s3-grid-item1-text,
    .s3-grid-item2-text,
    .s3-grid-item3-text,
    .s3-grid-item4-text {
        padding: 80px 50px;
        display: inherit;
        text-align: start;
    }

    .s1-img {
        width: inherit;
    }

    .s3-text-grid {
        margin-top: 20px;
        margin-bottom: 20px;
        width: 470px;
    }

    .s3-h3 {
        width: 400px;
    }

    .section-4 {
        display: inherit;
        width: 100vw;
    }
}